/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
	max-width: 1440px;
	margin: 0 auto!important;
	font-family: "Inter", sans-serif;
}

.px-container {
	padding: 0 135px;
}

/* font familly */
.inter-font {
  font-family: "Inter", sans-serif;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
}

.seat-head {
   font-size: 18px;
   font-weight: 500;
   color: #03071280;
}
